{{template "layouts/base.html" .}}
{{define "content"}}

<div class="max-w-md mx-auto bg-white p-6 shadow rounded">
    <h2 class="text-xl font-semibold mb-4">Login</h2>

    <form method="POST">
        <div class="mb-4">
            <label class="block mb-1">Username</label>
            <input type="text" name="username" class="w-full border p-2 rounded">
        </div>

        <div class="mb-4">
            <label class="block mb-1">Password</label>
            <input type="password" name="password" class="w-full border p-2 rounded">
        </div>

        <button class="bg-blue-600 text-white px-4 py-2 rounded w-full">Login</button>
    </form>
</div>

{{end}}
